.header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    transition: all .35s ease;
    background: $iGray;

    @media(max-width: 991px) {
        padding: 10px 0;
    }

    &.sticky-header {
        padding: 10px 0;

        .logo {
            flex: 0 0 130px;
            max-width: 130px;
        }

        .navigation {
            ul {
                li {
                    a {
                        @media(min-width: 992px) {
                            padding: 2px 0;
                        }
                    }
                }
            }
        }
    }
}

.logo {
    flex: 0 0 209px;
    max-width: 209px;
    transition: all .35s ease;

    @media(max-width: 991px) {
        flex: 0 0 130px;
        max-width: 130px;
    }
}

.navigation {
    margin-left: auto;

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        li {
            padding: 0 0 0 18px;

            a {
                font-size: 14px;
                color: $iGray1;
                display: block;
                position: relative;
                padding: 6px 0;
                transition: all .35s ease;

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 0;
                    width: 0;
                    height: 2px;
                    background-color: $iPrimary;
                    transition: all .35s ease;
                }

                &.is--active {
                    color: $iPrimary;

                    &:before {
                        width: 36px;
                    }
                }
            }

            &:hover,
            &.is--active {
                a {
                    color: $iPrimary;

                    &:before {
                        width: 36px;
                    }
                }
            }
        }
    }

    @media (max-width: 991px) {
        display: none;
        position: fixed;
        top: 0;
        left: -100%;
        width: 280px;
        height: 100%;
        background-color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 11;
        transition: all .50s ease-in-out;
        box-shadow: 0 10px 5px 2px rgba(0, 0, 0, .2);

        ul {
            flex-direction: column;

            li {
                padding: 10px 0;

                a {
                    font-size: 18px;
                }
            }
        }
    }

    &.is--open {
        left: 0;
    }
}

.nav-hamburger {
    width: 28px;
    height: 21px;
    position: relative;
    cursor: pointer;
    display: none;
    margin-left: auto;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 50%;
        background: $iPrimary;
        opacity: 1;
        transform: rotate(0deg);
        transition: all .25s ease-in-out;

        &:nth-child(even) {
            left: 50%;
            border-radius: 0 9px 9px 0;
        }

        &:nth-child(odd) {
            left: 0px;
            border-radius: 9px 0 0 9px;
        }

        &:nth-child(1),
        &:nth-child(2) {
            top: 0px;
        }

        &:nth-child(3),
        &:nth-child(4) {
            top: 50%;
            margin-top: -2px;
        }

        &:nth-child(5),
        &:nth-child(6) {
            bottom: 0px;
        }
    }

    &.is--active {
        span {

            &:nth-child(1),
            &:nth-child(6) {
                transform: rotate(45deg);
            }

            &:nth-child(2),
            &:nth-child(5) {
                transform: rotate(-45deg);
            }

            &:nth-child(1) {
                top: 6px;
                left: 4px;
            }

            &:nth-child(2) {
                left: calc(50% - 4px);
                top: 6px;
            }

            &:nth-child(3) {
                left: -50%;
                opacity: 0;
            }

            &:nth-child(4) {
                left: 100%;
                opacity: 0;
            }

            &:nth-child(5) {
                left: 4px;
                top: 12px;
            }

            &:nth-child(6) {
                left: calc(50% - 4px);
                top: 12px;
            }
        }
    }

    @media (max-width: 991px) {
        display: block;
    }
}

.banner {
    padding: 100px 0;
    position: relative;
    height: 620px;

    .cut-sty {
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 56px;
        width: 200px;
        background-image: url('../img/flakes/cut-sty.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 100%;

        &:after {
            content: "";
            position: absolute;
            left: 100%;
            bottom: 0;
            height: 56px;
            width: calc(100vw - 200px);
            background-color: $white;
        }
    }

    &-content {
        margin: 22% 0;

        h4 {
            font-size: 25px;
            font-weight: 700;
            margin: 0 0 10px 0;
            color: $white;

            @media(max-width:767px) {
                font-size: 20px;
            }

            @media(max-width:575px) {
                font-size: 18px;
            }
        }

        h3 {
            font-size: 32px;
            font-weight: 700;
            margin: 0 0 10px 0;
            color: $white;

            @media(max-width:767px) {
                font-size: 28px;
            }

            @media(max-width:575px) {
                font-size: 22px;
            }
        }

        h2 {
            font-size: 48px;
            font-weight: 700;
            margin: 0 0 10px 0;
            color: $iPrimary;
            line-height: 1;

            @media(max-width:767px) {
                font-size: 40px;
            }

            @media(max-width:575px) {
                font-size: 30px;
            }
        }

        p {
            font-size: 14px;
            font-weight: 400;
            margin: 0 0 25px 0;
            color: $white;

            @media(max-width:575px) {
                font-size: 12px;
            }
        }
    }

    .bshape-1 {
        background-image: url('../img/flakes/5.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: right bottom;
        right: 0;
        bottom: 55px;
        position: absolute;
        z-index: 1;
        width: 410px;
        height: 404px;
        pointer-events: none;

        @media(max-width:991px) {
            width: 300px;
            height: 300px;
        }

        @media(max-width:767px) {
            width: 200px;
            height: 200px;
        }

        @media(max-width:575px) {
            width: 100px;
            height: 100px;
        }
    }

    .ic-mouse {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 66px;
        display: inline-block;
        vertical-align: top;

        .js-tosvg {
            width: 18px;
            height: 40px;
            opacity: .4;
            transition: all .35s ease;
        }

        .ic-mouse-bottom {
            position: absolute;
            top: -7px;
            left: 0;
            animation: mouse-arrow 1s infinite;
        }

        &:hover {
            .js-tosvg {
                opacity: .8;
            }
        }
    }

    &.ht-55 {
        height: 550px;

        .banner-content {
            margin: 12% 0;
        }

        @media(max-width:991px) {
            height: 500px;

            .banner-content {
                margin: 8% 0;
            }
        }

        @media(max-width:767px) {
            .banner-content {
                margin: 6% 0;
            }
        }
    }

    @media(max-width:991px) {
        height: 500px;

        &-content {
            margin: 0;
        }
    }

    @media(max-width:767px) {
        &-content {
            margin: 6% 0;
        }
    }
}

.gradient {
    &-1 {
        background: rgb(0, 0, 0);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(40, 40, 40, 1) 42%, rgba(47, 49, 44, 1) 87%, rgba(30, 30, 30, 1) 99%);
    }
}



.language-dropdown {
    width: 150px;
    margin-left: 30px;
}