html,
body {
    font-size: 16px;
    font-family: $primaryFont;
    color: $black;
    font-weight: 400;
}

p {
    font-size: 16px;
    color: $black;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 20px 0;

    @media(max-width: 767px) {
        font-size: 14px;
    }

    @media(max-width: 575px) {
        font-size: 12px;
    }
}

h3 {
    font-size: 48px;
    color: $black;
    font-weight: 600;
    line-height: normal;
    margin: 0 0 20px 0;

    @media(max-width: 1199px) {
        font-size: 40px;
    }

    @media(max-width: 767px) {
        font-size: 35px;
    }

    @media(max-width: 575px) {
        font-size: 25px;
    }
}

h4 {
    font-size: 36px;
    color: $black;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 20px 0;

    @media(max-width: 1199px) {
        font-size: 30px;
    }

    @media(max-width: 991px) {
        font-size: 23px;
    }

    @media(max-width: 575px) {
        font-size: 20px;
    }
}

h5 {
    font-size: 16px;
    color: $black;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 20px 0;

    @media(max-width: 767px) {
        font-size: 14px;
    }
}

.heading1 {
    p {
        text-decoration: underline;
        font-size: 14px;
        color: $black;
        font-weight: 700;
        margin: 5px 0 10px 0;

        @media(max-width: 767px) {
            font-size: 12px;
        }
    }

    &.leftbd {
        padding-left: 30px;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: #e5af24;
        }

        @media(max-width: 991px) {
            padding-left: 20px;
        }

        &.greybd {
            &:before {
                background-color: #e5e5e5;
            }
        }
    }

    &.sty1 {
        p {
            font-size: 22px;
            text-decoration: none;

            @media(max-width: 767px) {
                font-size: 18px;
            }

            @media(max-width: 575px) {
                font-size: 16px;
            }
        }

        h4 {
            font-size: 31px;

            @media(max-width: 1199px) {
                font-size: 28px;
            }

            @media(max-width: 767px) {
                font-size: 23px;
            }

            @media(max-width: 575px) {
                font-size: 20px;
            }
        }
    }

    &.cl-white {

        p,
        h4 {
            color: $white;
        }
    }
}