// fonts family
$primaryFont: 'Poppins';
$secondaryFont: 'Inter';

// colors
$white: #ffffff;
$black: #000000;
$iPrimary: #F8CE00;
$iSecondary: #F8CE00;
$iGray: #D3D3D3;
$iGray1: #7A7A97;
$iGray2: #7a7a7a;
$iGray3: #dce0e0;
$iBlack: #232323;